{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "unicorn/prefer-node-protocol": "off",
    "unicorn/import-style": "off",
    "object-curly-spacing": ["warn", "always"],
    "quote-props": "off",
    "camelcase": "off",
    "padding-line-between-statements": "off",
    // no-useless-constructor triggers false positives with typescript
    // constructor assignment.
    "no-useless-constructor": "off",
    "max-params": ["warn", 6]
  }
}
